#### Importação das Bibliotecas

In [1]:
import sqlite3
import os

In [2]:
#Caso já exista o banco, ira apagar.

In [3]:
os.remove('pesquisa_satisfacao.db') if os.path.exists('pesquisa_satisfacao.db') else None
conn = sqlite3.connect('pesquisa_satisfacao.db')

In [7]:
cur = conn.cursor()

In [12]:
#Criar os scripts de criação das tabelas.
sql_create_perguntas =  'CREATE TABLE IF NOT EXISTS perguntas'\
                        '(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,'\
                        'enunciado VARCHAR(200) NOT NULL)';

sql_create_respostas =  'CREATE TABLE IF NOT EXISTS respostas'\
                        '(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,'\
                        'resposta VARCHAR(30) NOT NULL,'\
                        'id_pergunta INTEGER NOT NULL,'\
                        'FOREIGN KEY (id_pergunta) REFERENCES perguntas(id))';
#Criar uma lista com os dois scripts
sql_creates = [sql_create_perguntas,sql_create_respostas]

In [13]:
#Executar no banco os dois script por meio do cur.execute()
exe_create = [cur.execute(sql_create) for sql_create in sql_creates]